body{
    width:100%;
    height:100%;
    background-color: red;
}

.pet{
    position:absolute;
    width:60px;
    height:60px;
    z-index: 4;
    opacity: 0.9;
}
.pet:hover{
    cursor:grab;
}
.idle{
    background: transparent url("./poring_IDLE_sprite2.png") 0 0 no-repeat;
    animation: idle 2s steps(28) infinite;
}
.walk{
    background: transparent url("./poring_WALK_1.png") 0 0 no-repeat;
    animation: walk 1s steps(11) infinite;
}
.dragged{
    /* transform: scaleX(3); */
    transform-origin: 50% 0%;
    background: transparent url("./poring_DRAGGED_1.png") 0 0 no-repeat;
    /* animation: dragged 2s steps(1) infinite; */
}

.left{
    transform: scale(1,1);
}
.right{
    transform: scale(-1,1);
}
.shadow{
    position:absolute;
    pointer-events: none;
    filter: blur(5px);
    transform: scaleY(0.6);
    width:40px;
    height: 40px;
    border-radius: 50% 50%;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 0;
}


.tpContainer{
    position: absolute;
    width:50px;
    height:100px;
    background-color: white;
}
.teleBottom{
    position:absolute;
    pointer-events: none;
    /* filter: blur(5px); */
    transform: scaleY(0.6);
    width:40px;
    height: 40px;
    bottom:-10px;
    left:4px;
    border-radius: 50% 50%;
    background-color: rgba(82, 150, 195, 0.935);
    z-index: 1;
}
.teleSmear1{
    opacity:0;
    background: transparent url("./tpSmear1.png") 0 0 no-repeat;
    animation: teleSmear1 1s steps(1) infinite;
}
@keyframes tpBottom {
    100% {
        opacity:1;
    }
}

@keyframes teleSmear1 {
    100% {
        transform: scaleY(3);
    }
}


@keyframes idle {
    100% {
        background-position: -1680px, 0;
    }
}
@keyframes walk {
    0%{
        /* transform-origin: 50% 100%; */
    }
    50%{
        /* top:20px; */
    }
    100% {
        /* transform-origin: 50% 100%; */
        /* transform: translate(0px,0px); */
        background-position: -660px, 0;
    }
}
@keyframes dragged {
    0%{
        transform:rotate(0deg);
    }
    25% {
        transform:rotate(30deg);
    }
    50%{
        transform:rotate(0deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform:rotate(0deg);
    }
}